.home-container {
  /* Set the height to be the full viewport height minus the header height */
  min-height: calc(100vh - 60px); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 60px; /* Offset for fixed header */
}

.home-content {
  /* Mantine's <Container> will handle the width, so we don't need to do much here */
  width: 100%;
}